/fonts
/gulpfile.js
/icons
/node_modules
/package-lock.json
/package.json
/sedona-hotels-1200.psd
/sedona-hotels-768.psd
/sedona-index-1200.psd
/sedona-index-768.psd
/specification-sedona.html.pdf
/styleguide.psd
/ZZZ_src